{% extends "base.html" %}
{% block css %}<link rel="stylesheet"  href={{ url_for('static',filename='css/style.css') }}>{% endblock %}
{% block title %}  Home  {% endblock %}
{% block content %}

<nav class="navbar  navbar-dark bg-dark">
    <div class="container-fluid">
     <div class="navbar-nav">
      <a class="nav-item nav-link" href="/home/{{user_name}}">Tasks</a>
      <a class="nav-item nav-link" href="/groups/{{user_name}}">Task Groups</a>
      <a class="nav-item nav-link" href="/">LogOut</a>
    </div></div>
</nav>

<h3 align="center"> {{user_name}}</h3>
<div class="add-task">
<button><a href="/add-task/{{user_name}}/{{group}}">Add New Task</a></button>
</div>
{% for task in tasks %}
<div >
 <h3>{{task.topic}}</h3> 
 <button><a href="/delete-task/{{user_name}}/{{task.id}}">Delete</a></button> 
 <button>Completed</button>
 <p>To Do => {{task.text}}</p>   
 <p> Due Date => {{task.due_date}}</p> 
</div>
{% endfor %}

{% endblock %}
{% block js %}<script src={{ url_for('static',filename='javascript/script.js') }}></script>{% endblock %}
