{% extends "base.html" %}
{% block css %}
{% endblock %} 
{% block title %}  TaskGroups {% endblock %}
{% block content %}

<nav class="navbar  navbar-dark bg-dark">
    <div class="container-fluid">
     <div class="navbar-nav">
      <a class="nav-item nav-link" href="/home/{{user_name}}">Tasks</a>
      <a class="nav-item nav-link" href="/groups/{{user_name}}">Task Groups</a>
      <a class="nav-item nav-link" href="/">LogOut</a>
    </div></div>
</nav>

<div>
<form align="center" method="POST">
<input
   type = "text"
   name = "group"
   id = "group"
   placeholder="Category"
>
<button type="submit" class="button" >Create</button>
</form>
</div>
{% for group in groups %}
<div>
 <h3><a href="/group/{{group.name}}/{{user_name}}">{{group.name}}</a></h3> 
 <button><a href="/delete-group/{{group.id}}">Delete</a></button>  
</div>
{% endfor %}
{% endblock %}
